files:
  "/etc/awslogs/config/delmoondo-affogato":
    mode: "000600"
    owner: root
    group: root
    encoding: utf-8
    content: |
      [delmoondo-affogato_logs]
      log_group_name = delmoondo-chart-affogato_logs
      log_stream_name = delmoondo-chart-affogato_{ip_address}_log
      file = /var/log/nodejs/delmoondo-affogato*

commands:
  "01":
    command: chkconfig awslogs on
  "02":
    command: service awslogs restart
