files:
  "/etc/awslogs/config/prod-access":
    mode: "000600"
    owner: root
    group: root
    encoding: utf-8
    content: |
      [access_logs]
      log_group_name = prod-access_logs
      log_stream_name = prod-access_{ip_address}_log
      file = /var/log/nodejs/access*

commands:
  "01":
    command: chkconfig awslogs on
  "02":
    command: service awslogs restart
