files:
  "/etc/awslogs/config/bank-auth":
    mode: "000600"
    owner: root
    group: root
    encoding: utf-8
    content: |
      [auth-bank_logs]
      log_group_name = auth-bank_logs
      log_stream_name = auth-bank_{ip_address}_log
      file = /var/log/nodejs/app/bank.log*
      [auth-bank-nginx-access]
      log_group_name = auth-bank_logs
      log_stream_name = auth-bank_{ip_address}_nginx_access.log
      file = /var/log/nginx/access.log
      [auth-bank-nginx-error]
      log_group_name = auth-bank_logs
      log_stream_name = auth-bank_{ip_address}_nginx_error.log
      file = /var/log/nginx/error.log

commands:
  "01":
    command: chkconfig awslogs on
  "02":
    command: service awslogs restart
