- name: check if amazon-cloudwatch-agent binary exists
  stat:
    path: "/opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent"
  become: True
  register: stat_result

- name: download AMZN cloudwatch install zip
  get_url:
    url: https://s3.amazonaws.com/amazoncloudwatch-agent/linux/amd64/latest/AmazonCloudWatchAgent.zip
    dest: "/root"
  become: True
  when: stat_result.stat.exists == False

- name: download PJ's custom cwa install script for ansible
  get_url:
    url: https://raw.githubusercontent.com/gojun077/jun-dotfiles/master/aws/CloudWatchAgent/cwa_install_PJ.sh
    dest: "/root"
    force: yes
  become: True

- name: install 'unzip' package
  package: >
    name=unzip
    state=latest
  become: True

- name: install python3-pip package
  apt:
    name: python3-pip
    state: present
  become: True

- name: install awscli from pip3
  pip:
    name: awscli
    executable: pip3
    extra_args: --upgrade
  become: True

- name: check that AMZN cloudwatch agent .zip exists
  stat:
    path: "/root/AmazonCloudWatchAgent.zip"
  become: True
  register: stat_result

- name: unzip archive
  unarchive:
    src: "/root/AmazonCloudWatchAgent.zip"
    dest: "/root"
    remote_src: yes
  become: True
  when: stat_result.stat.exists == True

- name: make extracted shell scripts executable
  file:
    path: "/root/cwa_install_PJ.sh"
    mode: "a+x"
  become: True

- name: run custom CloudWatchAgent install script as root
  shell: >
    /bin/bash /root/cwa_install_PJ.sh
  become: True

- name: start amazon-cloudwatch-agent service to generate CW config
  service:
    name: amazon-cloudwatch-agent
    state: started
  become: True

- pause:
    seconds: 5

- name: stop amazon-cloudwatch-agent service for config customization
  service:
    name: amazon-cloudwatch-agent
    state: stopped
  become: True

- name: Install bash expect and python expect packages
  apt:
    name: [expect, python-pexpect]
    state: present
  become: True

- name: setup cloudwatch aws credentials for on-prem machine
  expect:
    command: aws configure --profile default
    responses:
      Question:
        - "\n"
        - "\n"
        - "\n"
        - "\n"

- name: Copy cloudwatch agent log config matching {{ my_hosts }} var
  copy:
    src: ~/Documents/whalex/AWS/cloudwatch/amazon-cloudwatch-agent.json.{{ my_hosts }}
    dest: /opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json
  become: True

- name: enable amazon-cloudwatch-agent systemd service to start at boot
  systemd:
    name: amazon-cloudwatch-agent
    enabled: yes
  become: True

- name: start amazon-cloudwatch-agent service to apply new config
  service:
    name: amazon-cloudwatch-agent
    state: started
  become: True
