- name: Install epel-release package from remote Fedora EPEL repo
  yum:
    name: https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
    state: present
  become: True

- name: Install collectd package from EPEL
  yum:
    name: collectd
    state: present
    update_cache: yes
  become: True

- name: Enable collectd systemd service
  systemd:
    name: collectd
    enabled: yes
  become: True

- name: Check if collectd-cloudwatch install script has been downloaded
  stat:
    path: /root/setup.py
  become: True
  register: stat_result

- name: Download collectd-cloudwatch plugin install script from AWSLABS
  get_url:
    url: https://raw.githubusercontent.com/awslabs/collectd-cloudwatch/master/src/setup.py
    dest: "/root"
    force: yes
  become: True
  when: stat_result.stat.exists == False

- name: Make downloaded python install script executable
  file:
    path: "/root/setup.py"
    mode: "a+x"
  become: True

- name: Check if collectd-cw plugin has been setup already
  stat:
    path: /opt/collectd-plugins/cloudwatch
  become: True
  register: stat_result

- name: Run setup.py
  command: /root/setup.py --non_interactive --enable_high_resolution_metrics --installation_method recommended
  become: True
  when: stat_result.stat.exists == False
